body{
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  min-height: 100vh; 
  padding: 2rem;
  width: 100%;
}

h1 {
  color: #333;
  margin-bottom: 1.5rem;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; 
  justify-items: center;
  max-width: 900px;
  width: 100%;
}

.pagination-container {
  margin-top: 2rem;
  display: flex;
  gap: 10px;
}

.pagination-container button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #99E1D9;
  transition: background-color 0.2s;
}

.pagination-container button:hover:not(:disabled) {
  background-color: #ddd;
}

.pagination-container button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-button.active {
  background-color: #4CAF50;
  color: #5D576B;
  border-color: #4CAF50;
}